/*Smooth scroll*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Dancing Script";
}

/*----- START Navigation bar style-----*/
.topnav {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
.topnav a {
  float: left;
  display: block;
  text-align: center;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
  margin: 20px 0px 20px 0px;
  opacity: 0.6;
  transition: 0.5s;
  cursor: pointer;
}
.topnav a:hover {
  color: #9fbfadcc;
  opacity: 1;
}
.topnav .icon {
  display: none;
  margin-top: 8px;
}
/*-----START The mobile version media query-----*/
@media screen and (max-width: 610px) {
  /* Navigation */
  .topnav {
    display: block;
  }
  .topnav a {
    display: none;
    margin: 0px;
    opacity: 1;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
    background-color: rgba(241, 194, 66, 0.8);
    color: white;
    border-radius: 0px 0px 0px 0px;
    margin-top: 0px;
  }
}
