/*Smooth scroll*/
html {
  scroll-behavior: smooth;
}

body{
  font-family:'Roboto';
}
nav, h1{
  font-family: "Dancing Script";
  letter-spacing: 3px;
}
 nav{
  text-shadow: 1px 2px #BDE1FF;
 }

h1{
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  padding:15px;
  color:#FFBFBD;
  text-shadow: 1px 2px gray;
}

.line {
  border: 1px solid gray;
  width: 70%;
}

nav a img{
  width: 15%;
  height: auto;
}
 
/*----- START Navigation bar style-----*/
.topnav {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
.topnav a {
  float: left;
  display: block;
  text-align: center;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 36px;
  margin: 20px 0px 20px 0px;
  opacity: 0.6;
  transition: 0.5s;
  cursor: pointer;
}
.topnav a:hover {
  color: #9fbfadcc;
  opacity: 1;
}
.topnav .icon {
  display: none;
  margin-top: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 10px;
  justify-content: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#date {
color:#FFDC68;
}
#place {
  color:#9FBFAD;
}


.soMe{
	text-align: center;
}
.fa-instagram, .fa-facebook-square{
	color: black;
	text-decoration: none;
	text-align: center;
	padding:10px;
}
.fa-facebook-square:hover{
	opacity: 0.5;
	transition: 0.5s;
	color:#4267B1;
}

.fa-instagram:hover
{
	opacity: 0.5;
	transition: 0.5s;
	color:#D52870;
}

/*-----START The mobile version media query-----*/
@media screen and (max-width: 610px) {
  /* Navigation */
  .topnav {
    display: block;
  }
  .topnav a {
    display: none;
    margin: 0px;
    opacity: 1;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
    background-color: gray;
    color: white;
    border-radius: 0px 0px 0px 0px;
    margin-top: 0px;
  }
}
